@model DuoClassLibrary.Models.Exercises.AssociationExercise

<div class="card mb-3">
    <div class="card-body">
        <div id="associationPairs">
            @for (int i = 0; i < 3; i++)
            {
                <div class="row mb-2 pair-row">
                    <div class="col-md-5">
                        <input type="text" class="form-control first-answer" placeholder="First item" />
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control second-answer" placeholder="Second item" />
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-outline-danger remove-pair">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
        <button type="button" id="addPairBtn" class="btn btn-outline-primary mt-2">
            <i class="fas fa-plus"></i> Add new input
        </button>
    </div>
</div>