@model DuoClassLibrary.Models.Exercises.FillInTheBlankExercise
@using System.Text.RegularExpressions

@{
    var parts = Regex.Split(Model.Question, @"\{\}");
}

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@Model.Question</h5>
        <p class="card-text">
            @for (int i = 0; i < parts.Length; i++)
            {
                @parts[i]
                @if (i < parts.Length - 1)
                {
                    <input type="text"
                           class="form-control d-inline-block blank-input"
                           style="width:150px; margin:0 .25rem;"
                           placeholder="Answer"
                           data-index="@i" />
                }
            }
        </p>
        <input type="hidden" id="BlankAnswersJson" name="BlankAnswersJson" />
    </div>
</div>
