@model DuoClassLibrary.Models.Exercises.FlashcardExercise

<div class="card mb-3">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Correct Answer</label>
                    <input type="text" id="flashcardAnswer" class="form-control" placeholder="Enter the correct answer" />
                </div>
            </div>
        </div>
    </div>
</div>