@model DuoClassLibrary.Models.Exercises.MultipleChoiceExercise

<div class="card mb-3">
    <div class="card-body">
        <div id="choiceItems">
            @for (int i = 0; i < 4; i++)
            {
                <div class="row mb-2 choice-row">
                    <div class="col-md-1 d-flex align-items-center justify-content-center">
                        <input class="form-check-input is-correct" type="radio" name="correctChoice" />
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control choice-text" placeholder="Answer option" />
                    </div>
                    <div class="col-md-2 d-flex align-items-center">
                        <button type="button" class="btn btn-outline-danger remove-choice">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
        <button type="button" id="addChoiceBtn" class="btn btn-outline-primary mt-2">
            <i class="fas fa-plus"></i> Add new input
        </button>
    </div>
</div>